$navBarItemsColor = #fff
$sideBarArrowColor = #2c3e50
$navBarBackgroundColor = #5eb07d

.arrow.down 
    border-top 6px solid #2c3e50;


.arrow.right
    border-left 6px solid #2c3e50;


.navbar ,.navbar .links 
    background-color #5eb07d !important;


.nav-item .arrow.down 
    border-top 6px solid #fff;


.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
    border-bottom 2px solid #fff !important;


.navbar .site-name,.dropdown-wrapper .dropdown-title > span.title, .navbar .nav-item > .nav-link
    color #fff !important;
